
@font-face {font-family: 'iconfont';
    src: url('lib/fonts/iconfont.eot'); /* IE9*/
    src: url('lib/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('lib/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('lib/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('lib/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

body {
	background: #0aa;
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.pic {
	transition: all 0.5s linear;
	&:hover {
		transform: rotate(60deg);
	}
}
